<div class="example-container">
  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput #input placeholder="Ex. Nougat">
  </mat-form-field>

  <mat-form-field hintLabel="Max 10 characters" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput #input placeholder="Ex. Nougat">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Select me</mat-label>
    <mat-select>
      <mat-option value="one">Male</mat-option>
      <mat-option value="two">Female</mat-option>
    </mat-select>
    <mat-hint >Here's the dropdown arrow ^</mat-hint>
  </mat-form-field>
</div>
